* {
  background-color: #edeceb;
  color: #072948;
  font-family: 'Rubik', sans-serif;
}

#app {
  min-height: 100%;
  min-width: 100%;
}

content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.quotation-marks {
  color: #a5a5a4;
}

#author {
  font-style: italic;
  color: #84b5c8;
  position: absolute;
  right: 0%;
}

button {
  color: #ff4637;
  border-color: #ff4637;
  position: fixed;
  bottom: 10%;
  right: 10%;
}

button:hover, button:focus {
  color: #ff4637;
  border-color: #ff4637;
}

button:active {
  color: #edeceb;
  background-color: #ff4637;
}
